<div id="wrapper">
  <div id="newsBox">
    <h6 id="titleTrendingBox">News</h6>
    <div id="trend1">
        <div class="trendText">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
        </div>
        <div class="trendPic"><img src="http://lorempixel.com/400/130/" alt=""></div>
    </div>
    <div id="trend2">
        <div class="trendText">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
        </div>
        <div class="trendPic"><img src="http://lorempixel.com/400/130/" alt=""></div>
    </div>
    <div id="trend3">
        <div class="trendText">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
        </div>
        <div class="trendPic"><img src="http://lorempixel.com/400/130/" alt=""></div>
    </div>
  </div>   
</div>
