<div id="wrapper">
<div id="newLaptopsBox">
  <h6 id="titleLaptopsBox">New laptops</h6>
  <div id="laptop1"><img src="http://lorempixel.com/230/120/" alt=""></div>
  <div id="laptop2"><img src="http://lorempixel.com/230/120/" alt=""></div>
</div>

<div id="newsBox">
  <h6 id="titleNewsBox">News</h6>
  <div id="laptop1"><img src="http://lorempixel.com/230/120/" alt=""></div>
  <div id="laptop2"><img src="http://lorempixel.com/230/120/" alt=""></div>
</div>

<div id="trendingBox">
  <h6 id="titleTrendingBox">Trending</h6>
  <div id="trend1">
      <div class="trendText">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
      </div>
      <div class="trendPic"><img src="http://lorempixel.com/150/130/" alt=""></div>
  </div>
  <div id="trend2">
      <div class="trendText">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
      </div>
      <div class="trendPic"><img src="http://lorempixel.com/150/130/" alt=""></div>
  </div>
  <div id="trend3">
      <div class="trendText">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas molestie ligula in dapibus. Pellentesque at eleifend urna, in placerat lorem.</p>
      </div>
      <div class="trendPic"> <img src="http://lorempixel.com/150/130/" alt=""> </div>
  </div>
</div>

<div id="slideshowBox">
    <img src="http://lorempixel.com/350/350/" alt="">
  <input type="radio" name="laptop" id="radio1">
  <input type="radio" name="laptop" id="radio2">
  <input type="radio" name="laptop" id="radio3">
</div>

<div id="addBox">
    <img src="http://lorempixel.com/350/200/" alt="">
</div>