<div id="wrapper">
    <div id = "sideBar">
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div class="link"><a href = "#"> Blah </a></div>
        <div style=" border-bottom:2px solid black;" class="link"><a href = "#"> Blah </a></div>
    </div>
    <div id="productContainer">
        <div class="product">
            <img style="margin-top: 30px;" src="http://lorempixel.com/200/130/" alt="">
        </div>
        <div class="product">
            <img src="http://lorempixel.com/200/130/" alt="">
        </div>
        <div class="product">
            <img src="http://lorempixel.com/200/130/" alt="">
        </div>
        <div class="product">
            <img src="http://lorempixel.com/200/130/" alt="">
        </div>
    </div>
</div>

